*.pyc
ui/savageChecker/savageChecker.xcworkspace/xcuserdata/samhooper.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
ui/savageChecker/savageChecker.xcworkspace/xcuserdata/samhooper.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist